<!DOCTYPE html>
<html>
<head>
    <title>Best Bets</title>
</head>
<body>

<h1>Best Bets</h1>

<button id="myButton">Help</button>
<p id="outputText"></p>

<p id="pythonValue"></p>

<script>
// Use Flask server to get the Python value
fetch('/get_picks')
    .then(response => response.json())
    .then(data => {
        document.getElementById("myButton").addEventListener("click", function() {
    document.getElementById("outputText").innerHTML = data.value;})
    });
</script>

</body>
</html>
